<html>
{% load staticfiles %}
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>股票诊断 </title>
    
    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/font-icon-style.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.default.css'%}" id="theme-stylesheet">
    <style type="text/css">
        .content{height: 650px; margin:0; padding:0; font-size:20px; text-align:left; color:#000000;}
        .top ,.nav {width:100%; height:100px; position:absolute;}
        .top {background:#d4edda; top:65px; left:0; text-align: center; padding-top: 20px}
        .nav {top:165px; bottom:0px; height:auto;text-align:center; padding-top:20px;}
        .left{width: 600px; height: 550px; text-align: center}
        .right{float: right; width: 600px;height: 550px; margin-left:20px}
    </style>
</head>

<body> 

<!--====================================================
                         MAIN NAVBAR
======================================================-->        
    <header class="header">
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid ">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header">
                        <a href="/gupiao/index" class="navbar-brand">
                            <div class="brand-text brand-big hidden-lg-down"><img src="{% static 'img/logo-white.png'%}" alt="Logo" class="img-fluid"></div>
                            <div class="brand-text brand-small"><img src="{% static 'img/logo-icon.png'%}" alt="Logo" class="img-fluid"></div>
                        </a>
                        <a id="toggle-btn" href="#" class="menu-btn active">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
                
            </div>
        </nav>
    </header>

<!--====================================================
                        PAGE CONTENT
======================================================-->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->
        <nav class="side-navbar">
            <div class="sidebar-header d-flex align-items-center">
                <div class="title">
                    <h1 class="h4">多模型在线股票预测分析系统</h1>
                </div>
            </div>
            <hr>
            <!-- Sidebar Navidation Menus-->
            <ul class="list-unstyled">
                <li> <a href="/gupiao/index"><i class="icon-home"></i>首页</a></li>
                <li> <a href="/gupiao/forecast"> <i class="fa fa-bar-chart"></i>股票预测</a></li>
                <li class="active"> <a href="/gupiao/analysis"> <i class="fa fa-map-o"></i>股票诊断</a></li>
 
            </ul><span class="heading">Extras</span>
            <ul class="list-unstyled"> 
                <li> <a href="/gupiao/demo"> <i class="icon-picture"></i>Demo </a></li>
            </ul>
        </nav>

        <div class="content-inner chart-cont">
            <!--***** CONTENT *****-->
            <div class = "content">
                    <div class ="top">
                        <h4>股 票 诊 断 分 析</h4>
                        <form method="post" action="/gupiao/analysis">
                            {% csrf_token %}
                            选择股票代码：
                            <select name="code">
                                <option value="code02">000002.SZ.CSY</option>
                                <option value="code05">000005.SZ.CSY</option>
                                <option value="code06">000006.SZ.CSY</option>
                                <option value="code07">000007.SZ.CSY</option>
                                <option value="code08">000008.SZ.CSY</option>
                                <option value="code09">000009.SZ.CSY</option>
                                <option value="code10">000010.SZ.CSY</option>
                            </select>
                            选择诊断模型：
                             <select name="model">
                              <option value="model">神经网络模型</option>
                            </select>
                            <input id="confirm"  type="button" value="开始诊断" style="margin-left: 50px">
                        </form>
                    </div>
                    <div class="nav">
                        <div class="left">
                            <h4>诊断报告</h4>
                            <table class="table table-hover">
                              <tbody>
                                <tr>
                                  <td>开盘价(元)：</td>
                                  <td id="open">90</td>
                                </tr>
                                <tr>
                                  <td>收盘价(元):</td>
                                  <td id="close">88</td>
                                </tr>
                                <tr>
                                  <td>最低价(元):</td>
                                  <td id="low">70</td>
                                </tr>
                                <tr>
                                  <td>最高价(元):</td>
                                  <td id="high">100</td>
                                </tr>
                                <tr>
                                  <td>涨跌幅(%):</td>
                                  <td id="change">50%</td>
                                </tr>

                              </tbody>
                            </table>
                        </div>
                        <div class="right">
                            <h4>图表显示</h4>
                            <img id="image" src="{% static 'img/analysis/analysis_000002.SZ.CSV.png' %}" style=" height: 500px; width: 500px" />
                            {{ data }}
                        </div>
                    </div>
                </div>
        </div>
    </div> 

    <!--Global Javascript -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/popper/popper.min.js'%}"></script>
    <script src="{% static 'js/tether.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.cookie.js'%}"></script>
    <script src="{% static 'js/jquery.validate.min.js'%}"></script>
    <script src="{% static 'js/chart.min.js'%}"></script>
    <script src="{% static 'js/front.js'%}"></script>
    
    <!--Core Javascript -->

    <script src="{% static 'js/prettymaps.js'%}"></script>
    <script>
     $('#confirm').click(function () {
        $.ajax({
            url: '/gupiao/analysis',
            type: 'post',
            data: {
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                code: $('[name="code"]').val()
            },
            success: function (data) {
                //alert('ok')
                data = JSON.parse(data)
                 if (data.status==2) {
                    $("#image").attr("src","../static/img/analysis/analysis_000002.SZ.CSV.png");
                    //把获取的数据值写入表格
                     $("#change").html(data.stock_data.change)
                     $("#open").html(data.stock_data.open)
                     $("#close").html(data.stock_data.close)
                     $("#high").html(data.stock_data.high)
                     $("#low").html(data.stock_data.low)
                }
                else if (data.status==5) {
                    $("#image").attr("src","../static/img/analysis/analysis_000005.SZ.CSV.png");
                    //把获取的数据值写入表格
                     $("#change").html(data.stock_data.change)
                     $("#open").html(data.stock_data.open)
                     $("#close").html(data.stock_data.close)
                     $("#high").html(data.stock_data.high)
                     $("#low").html(data.stock_data.low)
                }
                else if (data.status==6) {
                    $("#image").attr("src","../static/img/analysis/analysis_000006.SZ.CSV.png");
                    //把获取的数据值写入表格
                     $("#change").html(data.stock_data.change)
                     $("#open").html(data.stock_data.open)
                     $("#close").html(data.stock_data.close)
                     $("#high").html(data.stock_data.high)
                     $("#low").html(data.stock_data.low)
                }
                else if (data.status==7) {
                    $("#image").attr("src","../static/img/analysis/analysis_000007.SZ.CSV.png");
                    //把获取的数据值写入表格
                     $("#change").html(data.stock_data.change)
                     $("#open").html(data.stock_data.open)
                     $("#close").html(data.stock_data.close)
                     $("#high").html(data.stock_data.high)
                     $("#low").html(data.stock_data.low)
                }
                else if (data.status==8) {
                    $("#image").attr("src","../static/img/analysis/analysis_000008.SZ.CSV.png");
                    //把获取的数据值写入表格
                     $("#change").html(data.stock_data.change)
                     $("#open").html(data.stock_data.open)
                     $("#close").html(data.stock_data.close)
                     $("#high").html(data.stock_data.high)
                     $("#low").html(data.stock_data.low)
                }
                else if (data.status==9) {
                    $("#image").attr("src","../static/img/analysis/analysis_000009.SZ.CSV.png");
                    //把获取的数据值写入表格
                     $("#change").html(data.stock_data.change)
                     $("#open").html(data.stock_data.open)
                     $("#close").html(data.stock_data.close)
                     $("#high").html(data.stock_data.high)
                     $("#low").html(data.stock_data.low)
                }
                else if (data.status==10) {
                    $("#image").attr("src","../static/img/analysis/analysis_000010.SZ.CSV.png");
                    //把获取的数据值写入表格
                     $("#change").html(data.stock_data.change)
                     $("#open").html(data.stock_data.open)
                     $("#close").html(data.stock_data.close)
                     $("#high").html(data.stock_data.high)
                     $("#low").html(data.stock_data.low)
                }
                else{
                    alert('失败')
                }
            }
        })
    })
    </script>
</body>

</html>